@use 'custom';

// import components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// import sections
@use 'sections/about';
@use 'sections/docs';
@use 'sections/home';
@use 'sections/navbar';


*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.font-nav{
    font-size:22px;
    font-weight: bold;
}

.font-menu{
    font-weight: bold;
}

.grid-spacing{
    margin-bottom:7px;
    margin-top:7px;
}

.path-spacing{
    margin: 10px;
}


.pwa-spacing{
    margin: 3px 0 3px 0;
}

.gen-spacing{
    margin-top:10px;
}

.clear-spacing{
    margin: 10px 0 0 10px;
}

.out-btn-spacing{
    margin-top:30px;
    margin-left: 30px;
    margin-bottom:12px;
}


.navbar-color{
    background-color: white;
}

.navbar-margin{
    margin: 2px 6px 2px 6px;
}


