@use 'custom';

// import components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// import sections
@use 'sections/about';
@use 'sections/docs';
@use 'sections/home';
@use 'sections/navbar';


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.font-nav{
    font-weight:bolder;
    color: #552586 !important;
}

.font-link{
    font-weight:bold;
}

.image-margin{
    margin: 0 10px 0 10px;
}

.grid-spacing{
    margin-bottom:7px;
    margin-top:7px;
}

.path-spacing{
    margin: 12px 9px 12px 9px;
}


.pwa-spacing{
    margin: 3px 0 3px 0;
}

.gen-spacing{
    margin-top:5px;
    margin-left: 3px;
}

.clear-spacing{
    margin: 10px 0 0 10px;
}

.menu-bar{
    background-image: #fff;
}

.nav-link{
    margin:3px;
    font-size: 3px;
    color: #fff !important;
}

