.fontTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size:24px;
}

.fontItems{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size:20px;
}

.margins{
    margin:0 15px 3px 12px; 
    padding:15px;
}



.btn-spacing{
    margin-bottom:12px;
    margin-left: 30px;
}

.out-btn-spacing{
    margin-top:30px;
    margin-left: 30px;
}

.navbar-color{
    background-color: white;
}

.navbar-margin{
    margin: 2px 6px 2px 6px;
}

.image-format{
    width:30px;
}
